body {
	font-family: Arial, sans-serif;
	background-color: #f5f6f7;
	text-align: justify;
	}

.banner {
	color: white; /* #0B42A1; */
	font-size: 2em;
	text-align: center;
	padding: 80px;
	background: url('photos/IMG_5793.JPG');
	background-attachment: fixed;
	background-size: cover;
	background-position: left 5px bottom 200px;
	text-shadow: 3px 3px 3px black;
	margin-bottom: 14px;
	}

nav {
	text-align: center;
	}

.titre { 
	background-color: #106B75;
	color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	}

p {
	margin: 20px;
	background-color: #e6eef5;
	padding: 10px;
}

@media screen and (min-width: 920px) {
.menu {
	/*position: sticky;
	top: 50px;*/
	/*display: flex;
	align-content: stretch;
	flex-direction: row;
	justify-content: space-between;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1px;
	margin-top: 20px;
	margin-bottom: 20px;

}
}

@media screen and (max-width: 920px) {
.menu {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}
}


.galerie {
	/*display: flex;
	flex-direction: row;*/
	display: grid;
	grid-template-columns: 1fr 2.25fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	margin: 20px;
	overflow: auto;
}

.photo {
	position: relative;
	z-index: 1;
	min-width: 250px;
	min-height: 250px;
	}

.text {
	z-index: 2;
	position: absolute;
	text-align: center;
	font-size: 1.4em;
	left: 50%;
	top: 50%;
	color: white;
	font-weight: bold;
	width: 70%;
	transform: translate(-50%,-50%);
	display: none;
    }

.photo:hover {
	opacity: 0.7;
	}

.photo:hover .text {
	display: block;
	z-index: 3;
	}

form {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
}

.line {
	padding: 5px;
}

/*
:focus {
	border: dashed pink;
	}
	*/
	

.rubrique {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 2px;
	}

.envoyer {
	font-size: 1.2em;
	color: white;
	background-color: #106B75;
	padding: 5px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 2px;
	}

/*
a {
	color: #106B75;
	}

a:visited {
	color: #106B75;
	}
	*/

.bouton {
	font-size: 1.6em;
	color: white;
	background-color: #106B75;
	padding: 10px;
	display: block;
	/*border: 5px solid #106b75;*/
	/*border-radius: 0px;*/
	/*box-shadow: 3px 3px 3px black;*/
	text-decoration: none;
	}

.bouton:hover {
	/*color: black;*/
	opacity: 0.8;
	}

.bouton:active {
	color: black;
	/*text-decoration: underline;*/
	}

img {
	display: block;
	margin: auto;
	}

/*
img:hover {
	opacity: 0.5;
	}
	*/

.jour {
	color: purple;
	font-size: 20px;
	font-weight: 700;
	}

.secteur {
	color: purple;
	}

.bord {
	border: 2px solid black;
	border-radius: 10px; 

	}
